.contractedService {
    text-align: left;

    .contractedServiceContainer {
        padding-top: 20px;
    }

    .col.serviceDescription {
        margin: auto;
    }

    .title {
        color: #00b4cb;
    }
}