.invoiceDetailSection {
    .titleContainer {
        padding-top: 20px;
    }

    .title {
        color: #00b4cb;
    }

    .invoicePreview {
        width: 100%;
        height: 120px;
        overflow: hidden;

        img {
            height: 230px;
            margin: -28px 0 0 -35px;
        }
    }
}