.toast {
    visibility: hidden;
    max-width: 50px;
    height: 100px;
    margin: auto;
    background-color: #212933;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    left: 0;
    right:0;
    bottom: 0;
    top: 92%;
    font-size: 0.8rem;
    white-space: nowrap;

    .desc {
        color: #fff;
        padding: 30px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 275px;
    }

    .img {
        width: 72px;
        float: left;
        padding-top: 10px;
        padding-bottom: 16px;
        padding-left: 5px;
        color: #fff;
    }

    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s;
        animation-fill-mode: forwards;
    }
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px}
    to {min-width: 450px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 450px}
}